*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}

input,
button {
  border: none;
}

:root {
  --clr-primary-400: #36454F;
  --clr-primary-500: #A7C7E7;
  --clr-primary-600: #353935;
  --clr-primary-700: #6c63ff;
  --clr-primary-800: #FFFFF0;
  --clr-primary-900: #E35335;
  --ff-primary: Roboto, sans-serif;
  --ff-secondary: "EB Garamond", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100%;
  font-family: var(--ff-primary);
  color: var(--clr-primary-600);
  background-color: #fff;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  width: 90%;
}

.is-scrolling {
  background-color: var(--clr-primary-800);
}

header {
  padding: 0.75em 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .header__logo {
  font-family: var(--ff-secondary);
  font-size: 2.7em;
  font-weight: 900;
}
header .container .header__logo a {
  color: var(--clr-primary-600);
  transition: color 0.15s ease-in-out;
  cursor: default;
}
header .container .header__logo a:hover {
  opacity: 75%;
}
header .container nav .header__hamburger {
  width: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  cursor: pointer;
}
@media only screen and (min-width: 62em) {
  header .container nav .header__hamburger {
    display: none;
  }
}
header .container nav .header__hamburger .bar {
  height: 0.2rem;
  background-color: var(--clr-primary-600);
  width: 100%;
  border-radius: 0.5rem;
}
header .container nav ul {
  display: none;
}
@media only screen and (min-width: 62em) {
  header .container nav ul {
    display: flex;
    gap: 3em;
  }
}
header .container nav ul li {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
header .container nav ul li a {
  color: var(--clr-primary-600);
  transition: color 0.15s ease-in-out;
}
header .container nav ul li a:hover {
  opacity: 70%;
}

.hero {
  background-image: url("/img/funky-lines.png");
  min-height: 100vh;
}
.hero .container .hero__content {
  display: flex;
  gap: 3em;
  flex-direction: column;
  padding-top: 12em;
}
@media only screen and (min-width: 62em) {
  .hero .container .hero__content {
    gap: 6em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15em;
  }
}
@media only screen and (min-width: 62em) {
  .hero .container .hero__content .hero__copy {
    width: 50%;
  }
}
.hero .container .hero__content .hero__copy .hero__heading {
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: var(--clr-primary-700);
}
@media only screen and (min-width: 62em) {
  .hero .container .hero__content .hero__copy .hero__heading {
    font-size: 3rem;
    line-height: 3rem;
  }
}
.hero .container .hero__content .hero__copy .hero__heading .hero__heading--name {
  color: var(--clr-primary-600);
  font-size: 3rem;
}
@media only screen and (min-width: 62em) {
  .hero .container .hero__content .hero__copy .hero__heading .hero__heading--name {
    font-size: 4rem;
  }
}
.hero .container .hero__content .hero__copy .hero__sub-heading {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.5em;
}
@media only screen and (min-width: 62em) {
  .hero .container .hero__content .hero__copy .hero__sub-heading {
    font-size: 2rem;
  }
}
.hero .container .hero__content .hero__copy .hero__social {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;
  align-items: center;
}
.hero .container .hero__content .hero__copy .hero__social .hero__social-link:nth-of-type(1) img {
  width: 2.4rem;
}
.hero .container .hero__content .hero__copy .hero__social .hero__social-link:nth-of-type(2) img {
  width: 2.1rem;
}
.hero .container .hero__content .hero__copy .hero__social img:hover,
.hero .container .hero__content .hero__copy .hero__social img:focus {
  opacity: 75%;
}
.hero .container .hero__content .hero__img {
  position: relative;
  width: 24rem;
  align-self: center;
}
@media only screen and (min-width: 62em) {
  .hero .container .hero__content .hero__img {
    width: 50%;
  }
}
.hero .container .hero__content .hero__img .hero__img--widget {
  position: absolute;
  top: -6rem;
  right: 1rem;
  width: 6rem;
  height: 6rem;
  display: none;
  place-items: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
  background-color: #fff;
}
@media only screen and (min-width: 62em) {
  .hero .container .hero__content .hero__img .hero__img--widget {
    display: grid;
  }
}
.hero .container .hero__content .hero__img .hero__img--widget .hero__img--widget-img {
  width: 4rem;
}
.hero .container .hero__content .hero__img .hero__img--widget:nth-of-type(2) {
  top: unset;
  right: unset;
  left: 9rem;
  bottom: -4.5rem;
}
.hero .container .hero__content .hero__img .hero__img--widget:nth-of-type(3) {
  right: unset;
  top: -1rem;
  left: 3rem;
}
.hero .container .hero__content .hero__img .hero__img--widget:nth-of-type(3) .hero__img--widget-img {
  width: 6rem;
}
.hero .container .hero__content .hero__img .hero__img--widget:nth-of-type(4) {
  right: 6rem;
  top: unset;
  bottom: -8rem;
}

.services {
  padding: 4.5em 0;
  background-color: #fff;
  position: relative;
  z-index: -2;
}
@media only screen and (min-width: 62em) {
  .services {
    padding: 6em 0;
  }
}
.services .services__heading {
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 1em;
}
@media only screen and (min-width: 62em) {
  .services .services__heading {
    font-size: 4rem;
    margin-bottom: 1.2em;
  }
}
.services .services__section {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 62em) {
  .services .services__section {
    flex-direction: row;
    align-items: center;
  }
}
.services .services__section:nth-of-type(2) {
  margin-top: 6em;
}
@media only screen and (min-width: 62em) {
  .services .services__section:nth-of-type(2) {
    flex-direction: row-reverse;
  }
}
.services .services__section:nth-of-type(2) img {
  display: block;
  margin-left: auto;
}
.services .services__section:nth-of-type(3) {
  margin-top: 6em;
}
.services .services__section .services__section--img-box {
  margin: 0 auto;
}
@media only screen and (min-width: 62em) {
  .services .services__section .services__section--img-box {
    width: 50%;
  }
}
.services .services__section .services__section--img-box img {
  width: 21rem;
}
@media only screen and (min-width: 62em) {
  .services .services__section .services__section--img-box img {
    width: 30rem;
  }
}
.services .services__section .services__section--content {
  margin-top: 2em;
  position: relative;
}
@media only screen and (min-width: 62em) {
  .services .services__section .services__section--content {
    width: 50%;
    margin: unset;
  }
}
.services .services__section .services__section--content h2 {
  font-size: 1.8rem;
  color: var(--clr-primary-400);
  z-index: 1;
  text-align: center;
}
@media only screen and (min-width: 62em) {
  .services .services__section .services__section--content h2 {
    text-align: unset;
    font-size: 2.7rem;
  }
}
.services .services__section .services__section--content p {
  margin-top: 1em;
}
@media only screen and (min-width: 62em) {
  .services .services__section .services__section--content p {
    font-size: 1.2em;
    margin-top: 0.5rem;
    line-height: 1.8rem;
  }
}

.projects {
  background-color: #fcfcfc;
  padding: 4.5em 0 6em;
}
@media only screen and (min-width: 62em) {
  .projects {
    padding: 6em 0 9em;
  }
}
.projects .projects__heading {
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 1em;
}
@media only screen and (min-width: 62em) {
  .projects .projects__heading {
    font-size: 4rem;
    margin-bottom: 1.2em;
  }
}
.projects .projects__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}
.projects .projects__grid .projects__grid--email {
  width: 10rem;
  height: 21rem;
  transition: all 0.3s ease-in-out;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 6px 1.5px rgba(0, 0, 0, 0.07);
  background-size: 25rem;
  background-position: top;
  background-repeat: no-repeat;
}
.projects .projects__grid .projects__grid--email:hover {
  opacity: 70%;
  transform: scale(102%);
}
.projects .equal-parts {
  background-image: url("/img/equal-parts-thumbnail.png");
}
.projects .the-information {
  background-image: url("/img/the-information-thumbnail.png");
}
.projects .fast {
  background-image: url("/img/fast-thumbnail.png");
}
.projects .netflix {
  background-image: url("/img/netflix.png");
}
.projects .spotify {
  background-image: url("/img/spotify.png");
}
.projects .uber {
  background-image: url("/img/uber.png");
}

footer {
  background-color: #000;
  color: #fff;
  padding: 3em 0;
  text-align: center;
}/*# sourceMappingURL=main.css.map */