*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}

input,
button {
  border: none;
}

:root {

  --clr-primary-400: #36454F;
  --clr-primary-500: #A7C7E7;
  --clr-primary-600: #353935;
  --clr-primary-700: #6082B6;
  --clr-primary-800: #FAF9F6;
  --clr-primary-900: #E35335;

  --ff-primary: Roboto, sans-serif;
  --ff-secondary: Oswald, sans-serif;

}

body {
  min-height: 100vh;
  min-width: 100%;
  font-family: var(--ff-primary);
  color: var(--clr-primary-600);
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  width: 90%;
}

header {
  padding: 1.5em 0;
  position: fixed;
  width: 100%;
  top: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
      font-family: var(--ff-secondary);
      font-size: 2.1em;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: .3rem;
      a {
        color: var(--clr-primary-600);
        transition: color .15s ease-in-out;
        cursor: default;
        &:hover {
          color: var(--clr-primary-900);
        }
      }
    }
    nav {
      .header__hamburger {
        width: 1.8rem;
        display: flex;
        flex-direction: column;
        gap: .3em;
        cursor: pointer;
        @media only screen and (min-width: 62em) {
          display: none;
        }
        .bar {
          height: .2rem;
          background-color: var(--clr-primary-600);
          width: 100%;
          border-radius: .5rem;
        }
      }
      ul {
        display: none;
        @media only screen and (min-width: 62em) {
          display: flex;
          gap: 3em;
        }
        li {
          font-size: 1rem;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: .1rem;
          a {
            color: var(--clr-primary-600);
            transition: color .15s ease-in-out;
            &:hover {
              color: var(--clr-primary-900);
            }
          }
        }
      }
    }
  }
}

.hero {
  background-image: url('/img/funky-lines.png');
  min-height: 100vh;
  .container {
    .hero__content {
      display: flex;
      gap: 6em;
      flex-direction: column;
      padding-top: 15em;
      @media only screen and (min-width: 62em) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .hero__copy {
        @media only screen and (min-width: 62em) {
          width: 50%;
        }
        .hero__heading {
          font-size: 2.4rem;
          @media only screen and (min-width: 62em) {
            font-size: 4.2rem;
          }
        }
        .hero__sub-heading {
          font-size: 1.5rem;
          font-weight: 300;
          margin-top: .5em;
          @media only screen and (min-width: 62em) {
            font-size: 2.1rem;
            font-weight: 400;
          }
        }
      }
      .hero__img {
        width: 24rem;
        align-self: center;
        @media only screen and (min-width: 62em) {
          width: 50%;
        }
      }
    }
  }
}

.services {
  padding: 3em 0;
  background-color: #fff;
}