*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}

input,
button {
  border: none;
}

:root {

  --clr-primary-400: #36454F;
  --clr-primary-500: #A7C7E7;
  --clr-primary-600: #353935;
  --clr-primary-700: #6082B6;
  --clr-primary-800: #FAF9F6;
  --clr-primary-900: #E35335;

  --ff-primary: Poppins, sans-serif;
  --ff-secondary: 'Libre Baskerville', serif;

}

body {
  min-height: 100vh;
  min-width: 100%;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  width: 90%;
}

header {
  padding: 1.5em 0;
  position: fixed;
  width: 100%;
  top: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      ul {
        display: flex;
        gap: 1em;
      }
    }
  }
}

.hero {
  background-image: url('/img/funky-lines.png');
  min-height: 100vh;
  .container {
    display: grid;
    place-content: center;
    // padding-top: 12em;
    .hero__content {
      display: flex;
      align-items: center;
      margin-top: 15em;
      .hero__copy {
        width: 60%;
      }
      .hero__img {
        width: 40%;
      }
    }
  }
}