*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}

input,
button {
  border: none;
}

:root {

  --clr-primary-400: #36454F;
  --clr-primary-500: #A7C7E7;
  --clr-primary-600: #353935;
  --clr-primary-700: #6c63ff;
  --clr-primary-800: #FFFFF0;
  --clr-primary-900: #E35335;

  --ff-primary: Roboto, sans-serif;
  --ff-secondary: 'EB Garamond', sans-serif;

}

body {
  min-height: 100vh;
  min-width: 100%;
  font-family: var(--ff-primary);
  color: var(--clr-primary-600);
  background-color: #fff;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  width: 90%;
}

.is-scrolling {
  background-color: var(--clr-primary-800);
}

header {
  padding: .75em 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  @media only screen and (min-width: 62em) {
    padding: 1em 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
      font-family: var(--ff-secondary);
      font-size: 2.1rem;
      font-weight: 900;
      @media only screen and (min-width: 62em) {
        font-size: 2.7rem;
      }
      a {
        color: var(--clr-primary-600);
        transition: color .15s ease-in-out;
        cursor: default;
        &:hover {
          color: var(--clr-primary-700);
        }
      }
    }
    nav {
      .header__hamburger {
        width: 1.8rem;
        display: flex;
        flex-direction: column;
        gap: .3em;
        position: relative;
        z-index: 99;
        cursor: pointer;
        @media only screen and (min-width: 62em) {
          display: none;
        }
        .bar {
          height: .2rem;
          background-color: var(--clr-primary-600);
          width: 100%;
          border-radius: .5rem;
          transition: all .3s ease-in-out;
        }
        &.is-active {
          .bar:nth-of-type(1) {
            transform: rotate(45deg) translate(7px, 4.5px);
          }
          .bar:nth-of-type(2) {
            opacity: 0;
          }
          .bar:nth-of-type(3) {
            transform: rotate(-45deg) translate(7px, -4.5px);
          }
        }
      }
      .nav-links {
        position: absolute;
        left: 0;
        top: 0;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3em;
        align-items: center;
        transition: all .3s ease-in-out;
        visibility: hidden;
        opacity: 0;
        background-color: var(--clr-primary-800);
        @media only screen and (min-width: 62em) {
          flex-direction: row;
          position: unset;
          background-color: unset;
          min-height: unset;
          justify-content: unset;
          width: unset;
          align-items: unset;
          visibility: unset;
          opacity: unset;
        }
        li {
          font-size: 1.2rem;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: .1rem;
          a {
            color: var(--clr-primary-600);
            transition: color .15s ease-in-out;
            &:hover {
              color: var(--clr-primary-700);
            }
          }
        }
      &.is-active {
        visibility: unset;
        opacity: 1;
      }
      }
    }
  }
}

.hero {
  background-image: url('/img/funky-lines.png');
  // min-height: 100vh;
  padding: 6em 0;
  @media only screen and (min-width: 28.75em) {
    padding: 9em 0;
  }
  @media only screen and (min-width: 62em) {
    padding: unset;
  }
  .container {
    min-height: 100vh;
    display: grid;
    place-content: center;
    .hero__content {
      display: flex;
      gap: 3em;
      flex-direction: column;
      @media only screen and (min-width: 62em) {
        gap: 6em;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .hero__copy {
        @media only screen and (min-width: 62em) {
          width: 50%;
        }
        .hero__heading {
          font-size: 2.4rem;
          line-height: 2.4rem;
          color: var(--clr-primary-700);
          @media only screen and (min-width: 62em) {
            font-size: 3rem;
            line-height: 3rem;
          }
          .hero__heading--name {
            color: var(--clr-primary-600);
            font-size: 3rem;
            @media only screen and (min-width: 62em) {
              font-size: 4rem;
            }
          }
        }
        .hero__sub-heading {
          font-size: 1.5rem;
          font-weight: 400;
          margin-top: .5em;
          @media only screen and (min-width: 62em) {
            font-size: 2rem;
          }
        }
        .hero__social {
          display: flex;
          gap: .5em;
          margin-top: 1em;
          align-items: center;
          .hero__social-link:nth-of-type(1) {
            img {
              width: 2.4rem;
            }
          }
          .hero__social-link:nth-of-type(2) {
            img {
              width: 2.1rem;
            }
          }
          img:hover,
          img:focus {
            opacity: 75%;
          }
        }
      }
      .hero__img {
        position: relative;
        width: 24rem;
        align-self: center;
        width: 100%;
        @media only screen and (min-width: 62em) {
          width: 50%;
        }
        .hero__img--widget {
          position: absolute;
          top: -6rem;
          right: 1rem;
          width: 6rem;
          height: 6rem;
          display: none;
          place-items: center;
          border-radius: 1rem;
          box-shadow: 0px 0px 12px rgba(0,0,0,0.09);
          background-color: #fff;
          @media only screen and (min-width: 62em) {
            display: grid;
          }
          .hero__img--widget-img {
            width: 4rem;
          }
        }
        .hero__img--widget:nth-of-type(2) {
          top: unset;
          right: unset;
          left: 9rem;
          bottom: -4.5rem;
        }
        .hero__img--widget:nth-of-type(3) {
          right: unset;
          top: -1rem;
          left: 3rem;
          .hero__img--widget-img {
            width: 6rem;
          }
        }
        .hero__img--widget:nth-of-type(4) {
          right: 6rem;
          top: unset;
          bottom: -8rem;
        }
      }
    }
  }
}

.services {
  padding: 4.5em 0;
  background-color: #fff;
  position: relative;
  z-index: -2;
  @media only screen and (min-width: 62em) {
    padding: 6em 0;
  }
  .services__heading {
    text-align: center;
    font-size: 3.3rem;
    margin-bottom: 1em;
    @media only screen and (min-width: 62em) {
      font-size: 4rem;
      margin-bottom: 1.2em;
    }
  }
  .services__section {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 62em) {
      flex-direction: row;
      align-items: center;
    }
    &:nth-of-type(2) {
      margin-top: 6em;
      @media only screen and (min-width: 62em) {
        flex-direction: row-reverse;
      }
      img {
        display: block;
        margin-left: auto;
      }
    }
    &:nth-of-type(3) {
      margin-top: 6em;
    }
    .services__section--img-box {
      margin: 0 auto;
      @media only screen and (min-width: 62em) {
        width: 50%;
      } 
      img {
        width: 21rem;
        @media only screen and (min-width: 62em) {
          width: 30rem;
        }
      }
    }
    .services__section--content {
      margin-top: 2em;
      position: relative;
      @media only screen and (min-width: 62em) {
        width: 50%;
        margin: unset;
      }
      h2 {
        font-size: 1.8rem;
        color: var(--clr-primary-400);
        z-index: 1;
        text-align: center;
        @media only screen and (min-width: 62em) {
          text-align: unset;
          font-size: 2.7rem;
        }
      }
      p {
        margin-top: 1em;
        @media only screen and (min-width: 62em) {
          font-size: 1.2em;
          margin-top: .5rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}

.projects {
  background-color: #fcfcfc;
  padding: 4.5em 0 6em;
  @media only screen and (min-width: 62em) {
    padding: 6em 0 9em;
  }
  .projects__heading {
    text-align: center;
    font-size: 3.3rem;
    margin-bottom: 1em;
    @media only screen and (min-width: 62em) {
      font-size: 4rem;
      margin-bottom: 1.2em;
    }
  }
  .projects__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    .projects__grid--email {
      width: 10rem;
      height: 21rem;
      transition: all .3s ease-in-out;
      border-radius: .3rem;
      box-shadow: 0px 0px 6px 1.5px rgba(0,0,0,0.07);
      background-size: 25rem;
      background-position: top;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      .project__grid--email-view {
        text-align: center;
        width: 100%;
        display: inline-block;
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        background-color: #000;
        padding: 1em 0;
        transition: all .15s ease-in-out;
        opacity: 0;
      }
      &:hover,
      &:hover .project__grid--email-view {
        opacity: 100%;
        transform: scale(102%);
      }
    }
  }
  .equal-parts {
    background-image: url('/img/equal-parts-thumbnail.png');
  }
  .the-information {
    background-image: url('/img/the-information-thumbnail.png');
  }
  .fast {
    background-image: url('/img/fast-thumbnail.png');
  }
  .netflix {
    background-image: url('/img/netflix.png');
  }
  .spotify {
    background-image: url('/img/spotify.png');
  }
  .uber {
    background-image: url('/img/uber.png');
  }
}

footer {
  background-color: #000;
  color: #fff;
  padding: 3em 0;
  text-align: center;
}